<!--<app-form></app-form>-->
<!--<app-structure-directives></app-structure-directives>-->



<!--<button (click)="expression = !expression">{{!expression ? 'one' : 'two'}}</button>-->
<!--<app-input-output-->
<!--  [title]="expression ? 'one' : 'two'"-->
<!--  (sayHi)="onSayHi($event)"-->
<!--  [(counter)]="age"-->
<!--&gt;-->
<!--</app-input-output>-->



<!--<app-two-way-binding></app-two-way-binding>-->



<!--<app-ng-templates [template]="ref">-->
<!--  <h3 class="header">Header</h3>-->
<!--  <p class="body">Body</p>-->
<!--  <footer class="footer">Footer</footer>-->
<!--</app-ng-templates>-->

<!--<ng-template #ref let-element>-->
<!--  <p>{{element}} I am from App component</p>-->
<!--</ng-template>-->



<!--<div>-->
<!--  <button (click)="menu1.show()">Open menu </button>-->
<!--&lt;!&ndash;  <button (click)="menu.hide()">Hide menu </button>&ndash;&gt;-->
<!--  <app-host-directives #menu1>-->
<!--    <h1>From App component 1</h1>-->
<!--  </app-host-directives>-->
<!--</div>-->

<!--<div>-->
<!--  <button (click)="menu2.show()">Open menu </button>-->
<!--  &lt;!&ndash;  <button (click)="menu.hide()">Hide menu </button>&ndash;&gt;-->
<!--  <app-host-directives #menu2>-->
<!--    <h1>From App component 2</h1>-->
<!--  </app-host-directives>-->
<!--</div>-->

<!--<div>-->
<!--  <button (click)="menu3.show()">Open menu </button>-->
<!--  &lt;!&ndash;  <button (click)="menu.hide()">Hide menu </button>&ndash;&gt;-->
<!--  <app-host-directives #menu3>-->
<!--    <h1>From App component 3</h1>-->
<!--  </app-host-directives>-->
<!--</div>-->


<button (click)="changeShowMode()">Show title</button>
<button (click)="title = title + 1">Modify input</button>
<app-parent *ngIf="show" [title]="title"></app-parent>
